################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JobCandidateAPI/FileContentIndex/27a870a2-222c-463c-b6cb-97689e13c766.vsidx
/.vs/JobCandidateAPI/FileContentIndex/f1640386-f712-4b2f-af97-a027e1b2dbab.vsidx
/.vs/JobCandidateAPI/FileContentIndex/cf3680c3-2ea4-44e2-9d72-a8795dd247eb.vsidx
/.vs/JobCandidateAPI/FileContentIndex/4c102ce4-87a5-469c-b076-c47d12f4bb29.vsidx
/.vs/JobCandidateAPI/FileContentIndex/3f39f3a6-0fb3-44b8-b156-8a120959ea3b.vsidx
/.vs/JobCandidateAPI/FileContentIndex
